<%= form_tag sessions_path, method: 'post', class:"form-signin" do %>
  <h2 class="form-signin-heading">Please sign in</h2>
  <%= text_field_tag :username, nil, class:"input-block-level", placeholder:"Username" %>

  <%= password_field_tag :password, nil, class:"input-block-level", placeholder:"Password" %>

  <%= submit_tag "Login", class:"btn btn-large btn-primary"%>
<% end %>
