<div class="span12">
  <div class="row">
      <div class="well">
        <article>

        <section class="body">
        <h1>ISFiT 2013 - Festival Programme Support</h1>
        <p>Support for the ISFiT iOS-app for 2013 is provided by contacting: <%= mail_to "orakel@isfit.org" %></p>
        <h2>Privacy Policy</h2>
        <p>No data about the user is stored in the app. No data is sent from the device to ISFiT.</p>
        <h2>Data usage</h2>
        <p>The app is bundled with the complete programme, except images. These are downloaded and cached on first use. When opening the app while connected to a WiFi-network, it will check for updates to the programme.</p>
        </section>
        </article>
    </div>
  </div>
</div>
