<div class="row">
	<div class="span6" id="top-left">
    <div class="border-concert"></div>
    <h1>
      Jonas Alaska & the Trondheim Soloists
    </h1>
	</div>
  <div id="top-right" class="span6 one-up-two-down">
    <div id="top-right-up" class="up">
      <div class="border-plenary"></div>
      <h1>The World’s Economic Future</h1>
    </div>
    <div class="row">
      <div id="top-right-down1" class="span3 down">
        <div class="border-performing"></div>
        <h1>Stand up</h1>
      </div>
      <div id="top-right-down2" class="span3 down">
        <h1>See all events</h1>
      </div>
    </div>
  </div>
</div>

<div class="row promo-row">
 <div id="middle-left" class="span6 one-up-two-down">
    <div id="middle-left-up" class="up">
      <div class="border-plenary"></div>
      <h1>Changing Norms</h1>
    </div>
    <div class="row">
      <div id="middle-left-down1" class="span3 down">
        <div class="border-performing"></div>
        <h1>Dance Night</h1>
      </div>
      <div id="middle-left-down2" class="span3 down">
        <div class="border-art"></div>
        <h1>Origami</h1>
      </div>
    </div>
  </div>
	<div class="span6" id="middle-right">
    <div class="border-concert"></div>
    <h1>
      Moddi
    </h1>
	</div>
</div>

<div class="row promo-row">
 <div id="lower-left" class="span6 one-up-two-down">
    <div id="lower-left-up" class="up">
      <div class="border-concert"></div>
      <h1>Stein Torleif Bjella</h1>
    </div>
    <div class="row">
      <div id="lower-left-down1" class="span3 down">
        <h1><i class="icon-facebook"></i></h1>
      </div>
      <div id="lower-left-down2" class="span3 down">
        <h1><i class="icon-twitter"></i></h1>
      </div>
    </div>
  </div>
  <div id="lower-right" class="span6 one-up-two-down">
    <div id="lower-right-up" class="up">
      <div class="border-plenary"></div>
      <h1>An appeal for idealism</h1>
    </div>
    <div class="row">
      <a href="/2013/27">
      <div id="lower-right-down1" class="span3 down">
        <div class="border-concert"></div>
        <h1>Sea Change</h1>
      </div>
      </a>
      <div id="lower-right-down2" class="span3 down">
        <div class="border-art"></div>
        <h1>Origami</h1>
      </div>
    </div>
  </div>
</div>
