<div class="row promo-row">
  <a href="/2013/77">
    <div class="span6 concert" id="top-left">
      <h1>
       Dance Night with Frikar 
      </h1>
    </div>
  </a>
  <div id="top-right" class="span6 one-up-two-down">
    <a href="/2013/81">
      <div id="top-right-up" class="up performing">
        <h1>Late Night Impro Jam</h1>
      </div>
    </a>
    <div class="row">
      <a href="/2013/90">
        <div id="top-right-down1" class="span3 down performing">
          <h1>Stand up</h1>
        </div>
      </a>
      <a href="/events/all">
        <div id="top-right-down2" class="span3 down varbox">
          <h1>See all events</h1>
        </div>
      </div>
    </a>
  </div>
</div>

<div class="row promo-row">
  <div id="middle-left" class="span6 one-up-two-down">
    <a href="/2013/70">
      <div id="middle-left-up" class="up plenary">
        <h1>Social Entrepreneurship</h1>
      </div>
    </a>
    <div class="row">
      <a href="/2013/77">
        <div id="middle-left-down1" class="span3 down performing">
          <h1>Dance Night</h1>
        </div>
      </a>
      <a href="http://events.isfit.org/events/free">
        <div id="middle-left-down2" class="span3 down varbox">
          <h1>Free events</h1>
        </div>
      </div>
    </div>
  </a>
  <a href="/2013/25">
    <div class="span6 concert" id="middle-right">
      <h1>
        Mariam the Believer
      </h1>
    </div>
  </a>
</div>

<div class="row promo-row">
  <div id="lower-left" class="span6 one-up-two-down">
    <a href="/2013/15">
      <div id="lower-left-up" class="up concert">
        <h1>Jonas Alaska & the Trondheim Soloists</h1>
      </div>
    </a>
    <div class="row">
      <a href="http://www.facebook.com/pages/ISFiT/11541693212">
        <div id="lower-left-down1" class="span3 down varbox">
          <h1><i class="icon-facebook"></i></h1>
        </div>
      </a>
      <a href="https://twitter.com/isfit">
        <div id="lower-left-down2" class="span3 down varbox">
          <h1><i class="icon-twitter"></i></h1>
        </div>
      </a>
    </div>
  </div>
  <div id="lower-right" class="span6 one-up-two-down">
    <a href="/2013/72">
      <div id="lower-right-up" class="up plenary">
        <h1>An appeal for idealism</h1>
      </div>
    </a>
    <div class="row">
      <a href="/2013/27">
        <div id="lower-right-down1" class="span3 down concert">
          <h1>Sea Change</h1>
        </div>
      </a>
      <a href="/2013/22">
        <div id="lower-right-down2" class="span3 down concert">
          <h1>Sun in Sound</h1>
        </div>
      </a>
    </div>
  </div>
</div>

