// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  background: transparent;
}

article.event {
  max-width: 720px;
  height: 200px;
  position: relative;
  overflow: hidden;
}

div.meta {
  background: #0481B9;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  color: white;
  position: absolute;
  bottom: -3em;
  margin-bottom: -4em;
  left: -3em;
  padding-left: 1em;
  padding-top: 2em;
  text-align: center;
}

div.meta p {
  margin: 0;
}

div.meta div {
  margin: .5em 0;
}

h1.name {
  position: absolute;
  bottom: .2em;
  margin: 0;
  right: 0;
  padding: 0.2em 1.2em;
  background: black;
  color: white;
  text-transform: uppercase;
  font-family: Helvetica Neue, Helvetica,"apertura", sans-serif;
}

table.price {
  margin-left: 3em;
  text-align: left;
}

span.date {
  display: block;
  width: 100%;
  text-align: center;
  height: 80%;
  font-size: 11em;
  line-height: 1em;
}
span.month {
  display: block;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 4em;
}




article.dateblock {
  background: white;
  margin-right: -20px;
  padding-left: 15px;
  padding-right: 15px;
  height: 200px;
  min-width: 170px;
  position: fixed;
  position: absolute;
}


.offset1 {
  margin-left: 60px;
}


.datewrapper {
  position: static;
  margin-bottom: 2em;
}


.well {
  border-radius: 0;
  box-shadow: none;
}


#event-header {
  height: 30em;
  padding: 0; margin: 0;
  //background: url('http://lorempixel.com/800/600/people') no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position:relative;
  right: 0;
  margin-bottom: 2em;
  max-width: 100%;

    overflow: hidden;
}

#header-image {
  margin: 0;
  img {
    width: 940px;
    max-width: none;
  }
}

#event-header .header-text {
  position: absolute;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  color: white;
  background: rgba(0,0,0,.7);
  text-shadow: 0 1px 0 #333;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1em;
  overflow: hidden;

  -webkit-transition: width .3s;
  -o-transition: width .3s;
  -ms-transition: width .3s;
  -moz-transition: width .3s;
  transition: width .3s;

  h1 {
    font-size: 2.5em;
    line-height: 1.2em;
  }
}

div.event-button.round {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: red;
  color: white;
  margin: auto;
  cursor: pointer;
  padding: 2.5em 0;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
}

div.event-button.round.disabled {
  opacity: .6;
}

.tickets {
  margin: 1em 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.tickets table {
  margin: 1em 0;
}

.tickets table td:first-of-type {
  font-weight: bold;
  width: 10em;
}


.partners {
  text-align: center;
  height: 92px;
}


@media (min-width: 1200px) {
  .offset1 {
    margin-left: 130px;
  }


  #event-header img {
    max-width: 920px;
  }
}

@media (max-width: 979px) and (min-width: 768px) {
  .offset1 {
    margin-left: 6px;
  }
}


@media (max-width: 767px) {
  #header-image {
    height: 200px;
    img {
      min-height: 200px;
      width: 100%;
    }
  }

  article.event {
    width: 100%;
    max-width: none;
  }

  #event-header {
    height: auto;


    .header-text {
      position: relative;
      width: 100%;
      bottom: auto;
      right: auto;
    }
  }


  .offset1 {
    margin-left: 60px;
  }


  article.dateblock {
    z-index: 999;
    background: white;
    margin-right: -20px;
    padding-left: 15px;
    padding-right: 15px;
    height: 50px;
    top: 0;
    left:0;
    width: 100%;
    margin-left: 0;
    position: static;

    span.date {
      font-size: 1em;
      display: inline;
    }

    span.month {
      font-size: 1em;
      display: inline;
    }
  }
}