.event-details {
  p {
    margin: 0;
  }
  .icon-lightbulb {
    margin: 0 3px;
  }
}

.speaker {
  background-color: #222;
  color: white;
  h1 {
    font-size: 2em;
    padding-left: 15px;
    line-height: 20px;
  }
  p {
    padding-left: 15px;
    padding-right: 15px;
  }

}

